# Canada Immigration 2013
### *Normalized to world population*
#### James Cage April 11, 2019

As a class exercise for Coursera's *Data Visualization with Python*, I worked through an example of creating a choropleth map showing immigration to Canada in 2013. Each country was shaded by total immigration from that country. This is a great map if you are interested in the "flavor" of immigration coming into Candada. That is, immigration from the Canadian perspective. But this map may just be world population map. China and India have the largest populations on earth - is it any surprise that a lot of immigrants come from there? 

What if you want to know more about the attractiveness of Canada from a world perspective? In which countries are people most likely to emmigrate to The Great White North?

To answer this, I obtain world population in 2013, and use it to add the following columns to the Canadian immigration dataset:

* Population: From above
* Likelihood: Equal to (immigration from that country)/(population of that country)

I then create the following visualization

* TBD

Finally, I answer the initial question by creating a choropleth map of Likelihood, along with supporting tables and other visualizations.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Zero](#0)<br>
2. [Two](#2)<br>
3. [Four](#4) <br>
4. [Six](#6) <br>
</div>
<hr>

# Setup

Material in this section adapted from [a notebook](https://labs.cognitiveclass.ai/tools/jupyterlab/lab/tree/labs/DV0101EN/DV0101EN-3-5-1-Generating-Maps-in-Python-py-v2.0.ipynb) created by [Alex Aklson](https://www.linkedin.com/in/aklson/) for a course on **Coursera** called *Data Visualization with Python*.

#### Import Libraries

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

#### Install Folium & Import Library

Note: If Folium is **not installed**, prepend this line to the following cell:

!conda install -c conda-forge folium=0.5.0 --yes

In [2]:
# Un-comment the folloowing line if Folium is not installed
#!conda install -c conda-forge folium=0.5.0 --yes

import folium
print('Folium installed and imported!')

Folium installed and imported!

#### Obtain & Clean Canadian Immigration Information

**NOTE**: The data provided for the class included information for 49 regions that were not in the geojson file (see below). This was due to spelling differences for the country names between the files, as well as outright omissions.  Most of these had very little immigration to Canada in 2013, but there were several major ones (including the UK, Russia, Iran, and Venezuela). I corrected the names for the 7 largest missing countries and saved the file as 'Canada2.xlsx', which I use below.

Now download and import the Canadian immigration dataset using *pandas* `read_excel()` method. **xlrd** is a module which *pandas* requires to read in excel files. Use it to download the dataset and read it into a pandas dataframe:

In [3]:
# If xlrd is not installed, uncomment the following line
#!conda install -c anaconda xlrd --yes

# Source of "raw" Excel file: 'https://ibm.box.com/shared/static/lw190pt9zpy5bd1ptyg2aw15awomz9pu.xlsx'

df_can = pd.read_excel('Canada2.xlsx',
                     sheet_name='Canada by Citizenship',
                     skiprows=range(20),
                     skipfooter=2)

print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

If desired, use some or all of the following to take a look at the dataset.

In [4]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [5]:
print(df_can.shape)

(195, 43)

Clean up data. We will make some modifications to the original dataset to make it easier to create our visualizations. Refer to *Introduction to Matplotlib and Line Plots* and *Area Plots, Histograms, and Bar Plots* notebooks for a detailed description of this preprocessing.

In [6]:
# clean up the dataset to remove unnecessary columns (eg. REG) 
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)

# let's rename the columns so that they make sense
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)

# for sake of consistency, let's also make all column labels of type string
df_can.columns = list(map(str, df_can.columns))

# add total column
df_can['Total'] = df_can.sum(axis=1)

# years that we will be using in this lesson - useful for plotting later on
years = list(map(str, range(1980, 2014)))
print ('data dimensions:', df_can.shape)

data dimensions: (195, 39)

Take a look at the cleaned database

In [7]:
df_can.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15

In order to create a `Choropleth` map, we need a GeoJSON file that defines the areas/boundaries of the state, county, or country that we are interested in. In our case, a GeoJSON that defines the boundaries of all world countries. We will use the map from the Coursera class and name it **world_countries.json**.

In [8]:
# download countries geojson file
!wget --quiet https://ibm.box.com/shared/static/cto2qv7nx6yq19logfcissyy4euo8lho.json -O world_countries.json
    
print('GeoJSON file downloaded!')

GeoJSON file downloaded!

# Get Population Data, Clean, and Merge

In this step, I obtain the world population data from the [Worldbank Open Data website](https://data.worldbank.org/indicator/sp.pop.totl?end=2013&start=1980). My immediate goal is 2013 data, but I'll go ahead and obtain data for the entire range of the existing data frame (1980-2013).

In [9]:
# I picked the Excel version of the data, because the CSV is zipped. 

df_world_pop = pd.read_excel('http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=excel',
                     sheet_name='Data',
                     skiprows=range(3))

print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

In [11]:
df_world_pop.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [12]:
df_world_pop.shape

(264, 63)

Let's get rid of columns we don't need & rename the first column. (The data values are floats, which I don't like, but will address later if it causes problems.)

In [11]:
# As a learning exercise, I use data slicing instead of Python list comphrehensions.

# Generate a list of columns we don't want, and then drop them.

bad_columns = list(df_world_pop.loc[:, 'Country Code':'1979'].columns) + \
              list(df_world_pop.loc[:, '2014':'2018'].columns)

df_world_pop.drop(bad_columns, axis=1, inplace=True)

# Rename the first column to match the column in df_can

df_world_pop.rename(columns={'Country Name':'Country'}, inplace=True)

df_world_pop.head()

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,60096.0,60567.0,61345.0,62201.0,62836.0,63026.0,62644.0,61833.0,61079.0,...,98737.0,100031.0,100832.0,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0
1,Afghanistan,13248370.0,13053954.0,12749645.0,12389269.0,12047115.0,11783050.0,11601041.0,11502761.0,11540888.0,...,24118979.0,25070798.0,25893450.0,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0
2,Angola,8929900.0,9244507.0,9582156.0,9931562.0,10277321.0,10609042.0,10921037.0,11218268.0,11513968.0,...,18865716.0,19552542.0,20262399.0,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0
3,Albania,2671997.0,2726056.0,2784278.0,2843960.0,2904429.0,2964762.0,3022635.0,3083605.0,3142336.0,...,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0
4,Andorra,36067.0,37500.0,39114.0,40867.0,42706.0,44600.0,46517.0,48455.0,50434.0,...,76244.0,78867.0,80991.0,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0

In [27]:
df_can.head(2)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699

In [20]:
# Set the index for each data frame
df_can.set_index('Country', inplace=True)
df_world_pop.set_index('Country', inplace=True)

KeyError: 'Country'

Now I want to identify any countries in df_can that AREN'T represented in df_world_pop. I get to use Python sets!

First, ARE there any countries in the Canada dataset not found in the World Population Dataset?

In [24]:
can_countries = set(df_can.index)
world_countries = set(df_world_pop.Country)


print("Number of countries in Canada Immigration Dataset: " + str(len(can_countries)))
print("Number of matching countries: " + str(len(can_countries & world_countries)))

Number of countries in Canada Immigration Dataset: 195
Number of matching countries: 166

So yes, 29 countries are "missing", or at least have spelling differences in their names. What are those countries? Can I drop any of these rows?

In [25]:
unmatched = list(can_countries - world_countries)
df_can[df_can.index.isin(unmatched)]





# df[df['A'].isin([3, 6])]
# unmatched
# df_can.iloc['China':'China', :]
# df_can['China']

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Bahamas,Latin America and the Caribbean,Caribbean,Developing regions,26,23,38,12,21,28,23,...,14,18,23,30,27,25,40,60,55,808
Bolivia (Plurinational State of),Latin America and the Caribbean,South America,Developing regions,44,52,42,49,38,44,79,...,134,139,107,143,214,180,86,83,107,3205
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,729,712,674,897,657,623,591,728,774,9327
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,21,32,16,12,21,21,13,33,29,284
Congo,Africa,Middle Africa,Developing regions,2,0,1,0,1,2,4,...,136,143,87,72,70,75,81,91,114,1686
Ivory Coast,Africa,Western Africa,Developing regions,14,8,10,6,21,23,23,...,294,431,619,646,668,1066,636,1024,1170,8291
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,14,10,7,19,11,45,97,66,17,388
Democratic Republic of the Congo,Africa,Middle Africa,Developing regions,15,16,17,17,28,11,38,...,1521,1623,1466,1397,1581,1239,1224,1714,2050,25582
Egypt,Africa,Northern Africa,Developing regions,612,660,755,455,447,348,514,...,2496,2190,2356,3347,3496,5982,4663,5555,4165,72745
Gambia,Africa,Western Africa,Developing regions,0,0,1,0,0,2,4,...,29,38,32,25,10,37,24,18,33,603
Iran,Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,173,161,135,168,173,157,159,278,123,2353
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,42,74,53,32,39,54,22,25,15,1089
South Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,5832,6215,5920,7294,5874,5537,4588,5316,4509,142581
Russia,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,3972,3117,2983,2690,2931,2288,1963,2079,2466,63344
Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,5,3,0,16,21,17,36,...,11,3,10,25,11,22,12,21,18,653
Saint Lucia,Latin America and the Caribbean,Caribbean,Developing regions,69,89,133,69,68,80,95,...,185,190,255,298,257,249,261,382,392,4802
Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,147,190,202,154,158,182,209,...,343,383,579,434,511,434,451,523,538,9707
Republic of Serbia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,0,3,50,259,365,271,299,395,297,1939
Slovakia,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,0,...,369,241,215,125,128,135,134,136,105,5963
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,453,627,441,481,400,654,555,533,462,6512
Swaziland,Africa,Southern Africa,Developing regions,4,1,1,0,10,7,1,...,7,7,5,6,10,3,13,17,39,188
Syria,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1458,1145,1056,919,917,1039,1005,650,1009,31485
The former Yugoslav Republic of Macedonia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,0,...,285,256,211,191,198,188,130,126,112,4637
United Republic of Tanzania,Africa,Eastern Africa,Developing regions,635,832,621,474,473,460,403,...,274,291,195,230,136,200,215,224,182,12496
United States of America,Northern America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,7074,...,8394,9613,9463,10190,8995,8142,7676,7891,8501,241122
Venezuela,Latin America and the Caribbean,South America,Developing regions,103,117,174,124,142,165,179,...,1211,1192,1335,1239,1353,998,1452,1373,1022,21267
Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985

In [64]:
df_can.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       ...
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=195)

In [31]:
df_world_pop.head()

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,60096.0,60567.0,61345.0,62201.0,62836.0,63026.0,62644.0,61833.0,61079.0,...,98737.0,100031.0,100832.0,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0
1,Afghanistan,13248370.0,13053954.0,12749645.0,12389269.0,12047115.0,11783050.0,11601041.0,11502761.0,11540888.0,...,24118979.0,25070798.0,25893450.0,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0
2,Angola,8929900.0,9244507.0,9582156.0,9931562.0,10277321.0,10609042.0,10921037.0,11218268.0,11513968.0,...,18865716.0,19552542.0,20262399.0,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0
3,Albania,2671997.0,2726056.0,2784278.0,2843960.0,2904429.0,2964762.0,3022635.0,3083605.0,3142336.0,...,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0
4,Andorra,36067.0,37500.0,39114.0,40867.0,42706.0,44600.0,46517.0,48455.0,50434.0,...,76244.0,78867.0,80991.0,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0

Now I would like to clean the dataframe and make it more compatible with the existing df_can dataframe.

In [60]:
df_world_pop.index

Index(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=264)

In [28]:
df_can.head()

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

# Reference - delete after completion

In [30]:
df_can.tail(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,615,454,663,611,508,494,434,437,407,8598

In [66]:
df_world_pop

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,6.009600e+04,6.056700e+04,6.134500e+04,6.220100e+04,6.283600e+04,6.302600e+04,6.264400e+04,6.183300e+04,6.107900e+04,...,9.873700e+04,1.000310e+05,1.008320e+05,1.012200e+05,1.013530e+05,1.014530e+05,1.016690e+05,1.020530e+05,1.025770e+05,1.031870e+05
1,Afghanistan,1.324837e+07,1.305395e+07,1.274964e+07,1.238927e+07,1.204712e+07,1.178305e+07,1.160104e+07,1.150276e+07,1.154089e+07,...,2.411898e+07,2.507080e+07,2.589345e+07,2.661679e+07,2.729403e+07,2.800433e+07,2.880317e+07,2.970860e+07,3.069696e+07,3.173169e+07
2,Angola,8.929900e+06,9.244507e+06,9.582156e+06,9.931562e+06,1.027732e+07,1.060904e+07,1.092104e+07,1.121827e+07,1.151397e+07,...,1.886572e+07,1.955254e+07,2.026240e+07,2.099769e+07,2.175942e+07,2.254955e+07,2.336913e+07,2.421856e+07,2.509615e+07,2.599834e+07
3,Albania,2.671997e+06,2.726056e+06,2.784278e+06,2.843960e+06,2.904429e+06,2.964762e+06,3.022635e+06,3.083605e+06,3.142336e+06,...,3.026939e+06,3.011487e+06,2.992547e+06,2.970017e+06,2.947314e+06,2.927519e+06,2.913021e+06,2.905195e+06,2.900401e+06,2.895092e+06
4,Andorra,3.606700e+04,3.750000e+04,3.911400e+04,4.086700e+04,4.270600e+04,4.460000e+04,4.651700e+04,4.845500e+04,5.043400e+04,...,7.624400e+04,7.886700e+04,8.099100e+04,8.268300e+04,8.386100e+04,8.446200e+04,8.444900e+04,8.375100e+04,8.243100e+04,8.078800e+04
5,Arab World,1.656895e+08,1.710520e+08,1.764901e+08,1.820058e+08,1.876108e+08,1.933103e+08,1.990938e+08,2.049425e+08,2.108448e+08,...,3.091620e+08,3.162647e+08,3.237733e+08,3.316538e+08,3.398255e+08,3.481451e+08,3.565089e+08,3.648959e+08,3.733070e+08,3.817021e+08
6,United Arab Emirates,1.042384e+06,1.120900e+06,1.189545e+06,1.253060e+06,1.318478e+06,1.391052e+06,1.472218e+06,1.560718e+06,1.655849e+06,...,4.087931e+06,4.579562e+06,5.242032e+06,6.044067e+06,6.894278e+06,7.666393e+06,8.270684e+06,8.672475e+06,8.900453e+06,9.006263e+06
7,Argentina,2.810589e+07,2.854336e+07,2.899399e+07,2.945474e+07,2.992090e+07,3.038878e+07,3.085724e+07,3.132647e+07,3.179552e+07,...,3.872870e+07,3.914549e+07,3.955889e+07,3.997022e+07,4.038239e+07,4.079941e+07,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07
8,Armenia,3.099751e+06,3.148092e+06,3.193686e+06,3.238594e+06,3.285595e+06,3.335935e+06,3.392256e+06,3.451942e+06,3.504651e+06,...,3.000612e+06,2.981259e+06,2.958500e+06,2.933056e+06,2.908220e+06,2.888584e+06,2.877311e+06,2.875581e+06,2.881922e+06,2.893509e+06
9,American Samoa,3.245700e+04,3.349300e+04,3.473800e+04,3.616000e+04,3.768800e+04,3.924100e+04,4.083700e+04,4.245000e+04,4.404700e+04,...,5.926400e+04,5.911800e+04,5.865000e+04,5.790300e+04,5.703000e+04,5.622700e+04,5.563700e+04,5.532000e+04,5.523000e+04,5.530700e+04
10,Antigua and Barbuda,7.344200e+04,7.306600e+04,7.244800e+04,7.163900e+04,7.072500e+04,6.978200e+04,6.880900e+04,6.784500e+04,6.705800e+04,...,8.825700e+04,8.925300e+04,9.030100e+04,9.138100e+04,9.247800e+04,9.358100e+04,9.466100e+04,9.571900e+04,9.677700e+04,9.782400e+04
11,Australia,1.469200e+07,1.492700e+07,1.517800e+07,1.536900e+07,1.554400e+07,1.575800e+07,1.601840e+07,1.626390e+07,1.653220e+07,...,2.012740e+07,2.039480e+07,2.069790e+07,2.082760e+07,2.124920e+07,2.169170e+07,2.203175e+07,2.234002e+07,2.274248e+07,2.314590e+07
12,Austria,7.549433e+06,7.568710e+06,7.574140e+06,7.561910e+06,7.561434e+06,7.564985e+06,7.569794e+06,7.574586e+06,7.585317e+06,...,8.171966e+06,8.227829e+06,8.268641e+06,8.295487e+06,8.321496e+06,8.343323e+06,8.363404e+06,8.391643e+06,8.429991e+06,8.479823e+06
13,Azerbaijan,6.150738e+06,6.249320e+06,6.349558e+06,6.452076e+06,6.557585e+06,6.666455e+06,6.778633e+06,6.893500e+06,7.010036e+06,...,8.306500e+06,8.391850e+06,8.484550e+06,8.581300e+06,8.763400e+06,8.947243e+06,9.054332e+06,9.173082e+06,9.295784e+06,9.416801e+06
14,Burundi,4.116817e+06,4.223195e+06,4.333386e+06,4.448728e+06,4.571292e+06,4.702066e+06,4.841565e+06,4.987736e+06,5.135956e+06,...,7.182451e+06,7.423289e+06,7.675338e+06,7.939573e+06,8.212264e+06,8.489031e+06,8.766930e+06,9.043508e+06,9.319710e+06,9.600186e+06
15,Belgium,9.859242e+06,9.858982e+06,9.856303e+06,9.855520e+06,9.855372e+06,9.858308e+06,9.861823e+06,9.870234e+06,9.901664e+06,...,1.042114e+07,1.047862e+07,1.054796e+07,1.062570e+07,1.070997e+07,1.079649e+07,1.089559e+07,1.104774e+07,1.112825e+07,1.118282e+07
16,Benin,3.717165e+06,3.820128e+06,3.927714e+06,4.039949e+06,4.156819e+06,4.278501e+06,4.404506e+06,4.535263e+06,4.672852e+06,...,7.750004e+06,7.982225e+06,8.216896e+06,8.454791e+06,8.696916e+06,8.944706e+06,9.199259e+06,9.460802e+06,9.729160e+06,1.000445e+07
17,Burkina Faso,6.822843e+06,6.985160e+06,7.158255e+06,7.340905e+06,7.531242e+06,7.727907e+06,7.930694e+06,8.140073e+06,8.356305e+06,...,1.303057e+07,1.342193e+07,1.382918e+07,1.425202e+07,1.468973e+07,1.514110e+07,1.560522e+07,1.608190e+07,1.657122e+07,1.707272e+07
18,Bangladesh,8.147086e+07,8.372127e+07,8.600733e+07,8.833824e+07,9.073236e+07,9.319986e+07,9.574243e+07,9.834381e+07,1.009753e+08,...,1.413075e+08,1.434311e+08,1.453680e+08,1.471392e+08,1.488058e+08,1.504547e+08,1.521491e+08,1.539119e+08,1.557271e+08,1.575713e+08
19,Bulgaria,8.861535e+06,8.891117e+06,8.917457e+06,8.939738e+06,8.960679e+06,8.960547e+06,8.958171e+06,8.971359e+06,8.981446e+06,...,7.716860e+06,7.658972e+06,7.601022e+06,7.545338e+06,7.492561e+06,7.444443e+06,7.395599e+06,7.348328e+06,7.305888e+06,7.265115e+06
20,Bahrain,3.598880e+05,3.741200e+05,3.859500e+05,3.964540e+05,4.072270e+05,4.194300e+05,4.334820e+05,4.489730e+05,4.652020e+05,...,8.298480e+05,8.891680e+05,9.584140e+05,1.035891e+06,1.114590e+06,1.185029e+06,1.240862e+06,1.278269e+06,1.300217e+06,1.315411e+06
21,"Bahamas, The",2.106610e+05,2.153960e+05,2.202750e+05,2.251870e+05,2.300150e+05,2.346870e+05,2.391310e+05,2.433930e+05,2.475790e+05,...,3.225260e+05,3.292490e+05,3.358300e+05,3.423280e+05,3.486760e+05,3.548560e+05,3.608320e+05,3.665680e+05,3.720390e+05,3.772400e+05
22,Bosnia and Herzegovina,4.179855e+06,4.222511e+06,4.265310e+06,4.308106e+06,4.350746e+06,4.392130e+06,4.435504e+06,4.478519e+06,4.508056e+06,...,3.781287e+06,3.781530e+06,3.779468e+06,3.774000e+06,3.763599e+06,3.746561e+06,3.722084e+06,3.688865e+06,3.648200e+06,3.604999e+06
23,Belarus,9.643000e+06,9.710000e+06,9.776000e+06,9.843000e+06,9.910000e+06,9.975000e+06,1.004300e+07,1.011100e+07,1.014000e+07,...,9.730146e+06,9.663915e+06,9.604924e+06,9.560953e+06,9.527985e+06,9.506765e+06,9.490583e+06,9.473172e+06,9.464495e+06,9.465997e+06
24,Belize,1.441550e+05,1.475660e+05,1.515000e+05,1.558220e+05,1.603470e+05,1.649210e+05,1.695680e+05,1.743200e+05,1.790280e+05,...,2.760890e+05,2.832770e+05,2.907470e+05,2.984070e+05,3.061650e+05,3.139290e+05,3.216080e+05,3.291920e+05,3.367010e+05,3.441810e+05
25,Bermuda,5.467000e+04,5.505000e+04,5.544900e+04,5.593000e+04,5.642300e+04,5.689800e+04,5.738200e+04,5.784900e+04,5.834700e+04,...,6.374000e+04,6.415400e+04,6.452300e+04,6.488800e+04,6.527300e+04,6.563600e+04,6.512400e+04,6.456400e+04,6.479800e+04,6.500100e+04
26,Bolivia,5.589575e+06,5.711599e+06,5.835182e+06,5.959960e+06,6.085496e+06,6.211550e+06,6.337893e+06,6.464732e+06,6.592787e+06,...,8.967741e+06,9.125409e+06,9.283334e+06,9.441444e+06,9.599855e+06,9.758748e+06,9.918242e+06,1.007834e+07,1.023900e+07,1.040026e+07
27,Brazil,1.211598e+08,1.240309e+08,1.269474e+08,1.298823e+08,1.328007e+08,1.356763e+08,1.384995e+08,1.412735e+08,1.440015e+08,...,1.847385e+08,1.869174e+08,1.890124e+08,1.910266e+08,1.929790e+08,1.948960e+08,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08
28,Barbados,2.521940e+05,2.530800e+05,2.538410e+05,2.545180e+05,2.551930e+05,2.559240e+05,2.567360e+05,2.576110e+05,2.585270e+05,...,2.730910e+05,2.740090e+05,2.750390e+05,2.761500e+05,2.773190e+05,2.784700e+05,2.795690e+05,2.806010e+05,2.815850e+05,2.825090e+05
29,Brunei Darussalam,1.939490e+05,2.000850e+05,2.061280e+05,2.121360e+05,2.182270e+05,2.245120e+05,2.309720e+05,2.376220e+05,2.444580e+05,...,3.595230e+05,3.651580e+05,3.702500e+05,3.748640e+05,3.792520e+05,3.837720e+05,3.886620e+05,3.940130e+05,3.997480e+05,4.057160e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,3.496894e+08,3.576329e+08,3.656630e+08,3.737476e+08,3.818444e+08,3.899222e+08,3.979615e+08,4.059664e+08,4.139572e+08,...,5.373774e+08,5.444598e+08,5.515955e+08,5.587681e+08,5.659562e+08,5.731253e+08,5.802468e+08,5.873151e+08,5.943307e+08,6.012772e+08
235,Timor-Leste,5.875630e+05,5.910050e+05,6.044300e+05,6.246480e+05,6.466880e+05,6.669450e+05,6.841840e+05,6.995220e+05,7.144740e+05,...,9.966980e+05,1.026484e+06,1.048621e+06,1.064973e+06,1.078110e+06,1.092021e+06,1.109591e+06,1.131523e+06,1.156760e+06,1.184366e+06
236,Middle East & North Africa (IDA & IBRD countries),1.677559e+08,1.729675e+08,1.784403e+08,1.841298e+08,1.899742e+08,1.959177e+08,2.019504e+08,2.080513e+08,2.141407e+08,...,2.980417e+08,3.032748e+08,3.086730e+08,3.142267e+08,3.199345e+08,3.257867e+08,3.317705e+08,3.378950e+08,3.441488e+08,3.504715e+08
237,Tonga,9.300700e+04,9.345300e+04,9.368100e+04,9.377400e+04,9.384200e+04,9.395300e+04,9.414500e+04,9.438400e+04,9.466700e+04,...,1.004060e+05,1.010410e+05,1.016890e+05,1.023570e+05,1.030050e+05,1.036040e+05,1.041370e+05,1.045770e+05,1.049510e+05,1.053280e+05
238,South Asia (IDA & IBRD),9.000765e+08,9.216969e+08,9.437816e+08,9.662936e+08,9.891890e+08,1.012430e+09,1.035983e+09,1.059829e+09,1.083963e+09,...,1.487975e+09,1.512671e+09,1.536944e+09,1.560819e+09,1.584359e+09,1.607664e+09,1.630807e+09,1.653799e+09,1.676615e+09,1.699310e+09
239,Sub-Saharan Africa (IDA & IBRD countries),3.858853e+08,3.970656e+08,4.085770e+08,4.204135e+08,4.325734e+08,4.450481e+08,4.578354e+08,4.709390e+08,4.843577e+08,...,7.457881e+08,7.660805e+08,7.870358e+08,8.086602e+08,8.309656e+08,8.539537e+08,8.776284e+08,9.019899e+08,9.270399e+08,9.527341e+08
240,Trinidad and Tobago,1.085308e+06,1.102556e+06,1.120611e+06,1.138676e+06,1.155695e+06,1.170928e+06,1.184051e+06,1.195247e+06,1.204893e+06,...,1.290535e+06,1.296934e+06,1.303144e+06,1.309260e+06,1.315372e+06,1.321618e+06,1.328100e+06,1.334788e+06,1.341588e+06,1.348248e+06
241,Tunisia,6.368167e+06,6.545024e+06,6.733961e+06,6.930387e+06,7.127941e+06,7.321876e+06,7.509756e+06,7.692254e+06,7.871459e+06,...,1.001760e+07,1.010248e+07,1.019614e+07,1.029809e+07,1.040734e+07,1.052183e+07,1.063993e+07,1.076147e+07,1.088667e+07,1.101456e+07
242,Turkey,4.397592e+07,4.498836e+07,4.602536e+07,4.707342e+07,4.811410e+07,4.913388e+07,5.012849e+07,5.110088e+07,5.205370e+07,...,6.700786e+07,6.790341e+07,6.876340e+07,6.959728e+07,7.044003e+07,7.133918e+07,7.232691e+07,7.340946e+07,7.456987e+07,7.578733e+07
243,Tuvalu,8.052000e+03,8.154000e+03,8.284000e+03,8.413000e+03,8.530000e+03,8.650000e+03,8.747000e+03,8.820000e+03,8.883000e+03,...,9.894000e+03,1.002700e+04,1.013700e+04,1.024300e+04,1.034000e+04,1.044100e+04,1.053100e+04,1.062800e+04,1.072500e+04,1.081900e+04
244,Tanzania,1.868316e+07,1.927711e+07,1.989155e+07,2.052467e+07,2.117360e+07,2.183700e+07,2.251124e+07,2.319853e+07,2.390995e+07,...,3.824998e+07,3.941054e+07,4.063495e+07,4.192372e+07,4.327014e+07,4.466423e+07,4.609859e+07,4.757090e+07,4.908300e+07,5.063660e+07
245,Uganda,1.254954e+07,1.293021e+07,1.332333e+07,1.373527e+07,1.417447e+07,1.464662e+07,1.515452e+07,1.569541e+07,1.626253e+07,...,2.756844e+07,2.854394e+07,2.955066e+07,3.059049e+07,3.166390e+07,3.277190e+07,3.391513e+07,3.509365e+07,3.630680e+07,3.755373e+07
246,Ukraine,4.996881e+07,5.022100e+07,5.038400e+07,5.056400e+07,5.075400e+07,5.091700e+07,5.109700e+07,5.129300e+07,5.152100e+07,...,4.745160e+07,4.710515e+07,4.678775e+07,4.650935e+07,4.625820e+07,4.605330e+07,4.587070e+07,4.570610e+07,4.559330e+07,4.548960e+07
247,Upper middle income,1.715481e+09,1.742621e+09,1.771982e+09,1.801397e+09,1.829978e+09,1.859330e+09,1.890186e+09,1.922510e+09,1.954965e+09,...,2.334314e+09,2.352105e+09,2.369651e+09,2.386825e+09,2.404283e+09,2.422394e+09,2.440543e+09,2.459176e+09,2.478492e+09,2.498184e+09
248,Uruguay,2.915778e+06,2.935036e+06,2.954282e+06,2.973463e+06,2.992645e+06,3.011908e+06,3.031038e+06,3.049966e+06,3.069099e+06,...,3.324096e+06,3.325612e+06,3.331043e+06,3.339741e+06,3.350824e+06,3.362755e+06,3.374415e+06,3.385624e+06,3.396777e+06,3.408005e+06
249,United States,2.272250e+08,2.294660e+08,2.316640e+08,2.337920e+08,2.358250e+08,2.379240e+08,2.401330e+08,2.422890e+08,2.444990e+08,...,2.928053e+08,2.955166e+08,2.983799e+08,3.012312e+08,3.040940e+08,3.067715e+08,3.093384e+08,3.116443e+08,3.139933e+08,3.162345e+08
250,Uzbekistan,1.593974e+07,1.636356e+07,1.679007e+07,1.722121e+07,1.765998e+07,1.810830e+07,1.856548e+07,1.902988e+07,1.950122e+07,...,2.586435e+07,2.616700e+07,2.648825e+07,2.686800e+07,2.730280e+07,2.776740e+07,2.856240e+07,2.933940e+07,2.977450e+07,3.024320e+07
251,St. Vincent and the Grenadines,1.005050e+05,1.013790e+05,1.022040e+05,1.029840e+05,1.037420e+05,1.044770e+05,1.051980e+05,1.058960e+05,1.065360e+05,...,1.085590e+05,1.087440e+05,1.089070e+05,1.090470e+05,1.091650e+05,1.092530e+05,1.093150e+05,1.093410e+05,1.093280e+05,1.093200e+05
252,"Venezuela, RB",1.534392e+07,1.576180e+07,1.618589e+07,1.661735e+07,1.705778e+07,1.750806e+07,1.796855e+07,1.843779e+07,1.891253e+07,...,2.632722e+07,2.678416e+07,2.723917e+07,2.769196e+07,2.814170e+07,2.858732e+07,2.902803e+07,2.946329e+07,2.989308e+07,3.031785e+07
253,British Virgin Islands,1.100200e+04,1.131500e+04,1.171200e+04,1.218800e+04,1.273100e+04,1.330400e+04,1.393800e+04,1.458900e+04,1.526600e+04,...,2.254100e+04,2.316800e+04,2.390500e+04,2.473100e+04,2.560400e+04,2.644700e+04,2.722400e+04,2.790100e+04,2.850900e+04,2.905600e+04
254,Virgin Islands (U.S.),9.963600e+04,9.985300e+04,1.000680e+05,1.003480e+05,1.006000e+05,1.007600e+05,1.008420e+05,1.009010e+05,1.009520e+05,...,1.084670e+05,1.084540e+05,1.083710e+05,1.083390e+05,1.083990e+05,1.084050e+05,1.083580e+05,1.082920e+05,1.081910e+05,1.080440e+05
255,Vietnam,5.437251e+07,5.562775e+07,5.693182e+07,5.827739e+07,5.965309e+07,6.104937e+07,6.245956e+07,6.388130e+07,6.531371e+07,...,8.352768e+07,8.430884e+07,8.509462e+07,8.588959e+07,8.670780e+07,8.756541e+07,8.847251e+07,8.943664e+07,9.045188e+07,9.149772e+07
256,Vanuatu,1.156320e+05,1.185800e+05,1.214350e+05,1.242490e+05,1.270920e+05,1.300270e+05,1.330380e+05,1.361250e+05,1.393660e+05,...,2.041430e+05,2.093700e+05,2.146340e+05,2.199530e+05,2.253400e+05,2.307850e+05,2.362950e+05,2.418710e+05,2.474850e+05,2.531420e+05
257,World,4.439338e+09,4.517803e+09,4.599182e+09,4.681262e+09,4.763043e+09,4.846338e+09,4.932114e+09,5.020001e+09,5.108813e+09,...,6.439825e+09,6.520299e+09,6.601477e+09,6.683224e+09,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09
258,Samoa,1.555570e+05,1.564280e+05,1.574030e+05,1.583840e+05,1.592830e+05,1.600310e+05,1.605920e+05,1.610150e+05,1.614210e+05,...,1.787810e+05,1.799290e+05,1.810940e+05,1.822860e+05,1.835260e+05,1.848260e+05,1.862050e+05,1.876650e+05,1.891940e+05,1.907570e+05
259,Kosovo,1.521000e+06,1.552000e+06,1.582000e+06,1.614000e+06,1.647000e+06,1.682000e+06,1.717000e+06,1.753000e+06,1.791000e+06,...,1.704622e+06,1.705780e+06,1.719536e+06,1.733404e+06,1.747383e+06,1.761474e+06,1.775680e+06,1.791000e+06,1.805200e+06,1.824100e+06
260,"Yemen, Rep.",8.120497e+06,8.434017e+06,8.764621e+06,9.111097e+06,9.472170e+06,9.847899e+06,1.023273e+07,1.062858e+07,1.105150e+07,...,2.001707e+07,2.058293e+07,2.116053e+07,2.175160e+07,2.235639e+07,2.297493e+07,2.360678e+07,2.425221e+07,2.490997e+07,2.557632e+07
261,South Africa,2.976047e+07,3.053295e+07,3.133026e+07,3.213971e+07,3.294358e+07,3.373015e+07,3.449042e+07,3.523025e+07,3.597054e+07,...,4.824740e+07,4.882059e+07,4.936458e+07,4.988718e+07,5.041213e+07,5.097082e+07,5.158466e+07,5.226352e+07,5.299821e+07,5.376740e+07
262,Zambia,5.889230e+06,6.094206e+06,6.305709e+06,6.521542e+06,6.738765e+06,6.955212e+06,7.170656e+06,7.385686e+06,7.600072e+06,...,1.173175e+07,1.205216e+07,1.238345e+07,1.272597e+07,1.308252e+07,1.345642e+07,1.385003e+07,1.426476e+07,1.469994e+07,1.515321e+07
263,Zimbabwe,7.164172e+06,7.431940e+06,7.721536e+06,8.027565e+06,8.342195e+06,8.658857e+06,8.976205e+06,9.293283e+06,9.604302e+06,...,1.277751e+07,1.294003e+07,1.312427e+07,1.332991e+07,1.355847e+07,1.381060e+07,1.408632e+07,1.438665e+07,1.471083e+07,1.505451e+07